/* Box Model Hack */
* {
    box-sizing: border-box;
  }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
  .clear {
      clear: both;
  }



  * {
    cursor: url('icons8-sparkling-diamond-50.png'), auto;
  }

  body {
    margin-right: 0;
  }

  img {
    width: 10em;
    position: relative;
    top: -10px;
  }


  header {
    display: flex;
    justify-content: space-around;
    margin-top: 3em;
    /* padding: 2.8em; */
    border-bottom: 1px solid gainsboro;
  }

  .icons i{
    padding-right: 1.5em;
    font-size: 1.2em;
  }

  .search {
    /* style search bar */
    /* border: 2px solid brown; */
  }

  input {
    border: 2px solid #b4b4b4;
    padding: 4px;
  }

  nav ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid gainsboro;
    padding: 0.87em;
  }

  nav ul li {
    text-decoration: none;
    list-style: none;
    padding-right: 4em;
  }

  a {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
  }

  a:visited {
    text-decoration: none; color: black;
  }

  a:hover {
    color: #ED88D1;
  }

  input {
    width: 380px;
  }



  
  .container {
	  position: center;
	  background-image: url("https://64.media.tumblr.com/a603f983bb4e3368ef3b8e136111f5b5/24689ad6d38cdca2-55/s640x960/df1b808ff10ea6147eefa1cdf2db4d62f94398ce.jpg");
	  background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
	  height: 600px;
	  width: 100%;
	  border: 0px solid rgb(192, 192, 192);
  }

  .shop {
      padding: 10px;
      font-size: 16px;
      position: relative;
      top: 400px;
      left: 200px;
  }

      .containerimg img {
        display: flex;
        position: center;
        justify-content: center;
        margin-top: 50px;
        height: 100%;
        width: 500px;
      background-size: cover;
      }

  
  footer section {
    display: flex;
    position: fixed;
    border-top: 1px solid gainsboro;
    font-size: 0.75em;
    padding-left: 4em;
    bottom: 0px;
    left: 0;
    right: 0;
  }

  footer section h3 {
    padding-right: 3.5em;
    padding-left: 1.25em;
  }

  .pinkGem {
    visibility: hidden;
    height: 5px;
  }

  cursor {
    font-size: x-small;
  }



  @media screen and (max-width: 768px;) {
    
  }


  /* Maythe's code */

  .video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  }
  

.popular {
  display: flex;



}

#popular-list {
  display: flex;
  list-style: none;

}

.popular-user {
  padding: 10px;
  margin: 10px 50px 20px 0;
  
}

.popular-user-image {
  object-fit: cover;
  width:150px;
  height:150px;
  flex-shrink: 2;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
}


.popular-menu-header {
  padding: 10px;
  margin: 10px 20px;

}

#view-more {
  text-decoration: underline;
}

#view-more:hover {
  color: rgb(231, 58, 144);
}


  /* Maythe's code */