/* Box Model Hack */
* {
    box-sizing: border-box;
  }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
  .clear {
      clear: both;
  }

  /* body {
    display: flex;
    justify-content: space-between;
    margin-right: 0;
  } */

  img {
    width: 8em;
    position: relative;
    top: -10px;
  }


  header {
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
    padding: 2.8em;
    border-bottom: 1px solid gainsboro;

  }

  .logo {
    
  }

  .icons i{
    padding-right: 1.5em;
  }

  nav li a{
    text-decoration: none;
    list-style: none;
  }

  input {
    width: 380px;
  }



  /* .nav {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    list-style: none;
  } */






  @media screen and (max-width: 768px;) {
    
  }